# Node
node_modules/
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Build
dist/
build/

# Tests
coverage/

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# Azure
.azure/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars